[user]
	name = Shingo Katsushima
	email = s.katsushim@gmail.com
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore
	editor = vim #-c \"set fenc=utf-8\"
[alias]
  br = branch
  co = checkout
  st = status
  la = log --oneline --decorate --all --graph
  log-graph = log --graph --all --date=short --pretty=format:'%Cgreen%h %cd %Cblue%cn %Creset%s %Cred%d%Creset'
  log-all = log --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d%Creset'
  logg = log --stat --pretty=format:'%Cblue%h %Cgreen%ar %Cred%an %Creset%s %Cred%d'''''''

#gerit
  topic = "!sh -c 'git checkout -b $1 master' __dummy__"
  current-branch = "!sh -c \"git branch | grep '*' | awk '{ print \\$2 }' \""
  pfr = "!sh -c 'git push origin HEAD:refs/for/master/`git current-branch`'"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
